.App {
  text-align: center;
	margin-top: 3rem;
	border: 2px solid black;
}



li {
	display: inline;
}

.nav-text, a  {
	color: black;
	text-decoration: none;
}



.nav-text:hover {
	border-bottom: 2px solid black;
}